snippet comp "Boilerplate code for vue component" b
<template>
  $1
</template>

<script src="./`!p snip.rv = snip.basename`.js"></script>
<style src="./`!p snip.rv = snip.basename`.css" scoped></style>
endsnippet
