snippet cl "Typescript console.log"
  console.log('---------------------------------------------------------- $1:', $1)

snippet cs "Typescript console.log mark"
	console.log('---------- stigao ovde $1 ----------')
